* {
  font-size: 1.5rem;
}
body {
  font-family: Arial, sans-serif;
  background-color: #bebcbc;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-image: url("./img/1.png");
  background-size: cover;
  background-repeat: NO-REPEAT;
  color: gray;
  padding: 280px 0;
  text-shadow: #777777 10px 10px 8px;
}

main {
  padding: 20px;
}

button {
  color: hsl(120, 97%, 39%);
  background-color: #f1fcd5;
}

.szikra {
  color: rgb(101, 211, 255);
  font-weight: bold;
}

.chrome {
  color: orangered;
  font-weight: bold;
}

.mail {
  color: blue;
  font-weight: bold;
}

.edge {
  color: blue;
  font-weight: bold;
}

aside {
  background-color: indianred;
  padding: 20px 0;
  margin: 0;
}

aside p {
  margin: 10px 0;
}

footer {
  background-color: indianred;
  color: lightgray;
  text-align: center;
  font-family: "Yuyu", sans-serif;
  padding: 20px 0;
  margin: 0;
}

.boki {
  font-size: 0.875rem;
  margin: 0;
}

a {
  color: rgb(101, 211, 255);
  /*text-decoration: none;*/
}
